<% provide(:title, "About") %>
<div class="about-content">
  <h1 class="about-heading">Loca!!yとは</h1>
  <p class="about-text">
    Loca!!yは、地元民が自ら地元の魅力・住みやすさをおすすめできる口コミSNSです。<br/>
    実際に住んでいる人にしかわからないとてもローカルなスポットや情報について、口コミや写真を投稿して情報を共有することができます。<br/>
    あなたの住んでみたい町、行ってみたい町をぜひ見つけてください。
  </p>
</div>
<div class="about-content">
  <h1 class="about-heading">Loca!!yを作ったきっかけ</h1>
  <p class="about-text">
    私が生まれてから住んでいる場所は、別名「東京から最も近い田舎」などと呼ばれ、成人した若者は都会に出て行ってしまうことで年々高齢化が進み、<br/>
    ...
  </p>
</div>
<div class="about-content">
  <h1 class="about-heading">Loca!!y開発者</h1>
  <p class="about-text">
    Yuta Okuma
  </p>
</div>