<% provide(:title, "Loca!!yとは") %>
<div class="about-content">
  <h1 class="about-heading">Loca!!yとは</h1>
  <p class="about-text">
    Loca!!yは、地元民が自ら地元の魅力・住みやすさをおすすめできる口コミSNSです。<br/>
    実際に住んでいる人にしかわからないとてもローカルなスポットや情報について、口コミや写真を投稿して情報を共有することができます。<br/>
    あなたの住んでみたい町、行ってみたい町をぜひ見つけてください。
  </p>
</div>
<div class="about-content">
  <h1 class="about-heading">Loca!!yを作ったきっかけ</h1>
  <p class="about-text">
    私が生まれ育った地域は、別名「東京から最も近い田舎」などと呼ばれており、決して栄えているとは言えない。<br>
    年々高齢化が進みお年寄りがよく見られる一方、成人した若者は都会に出て行ってしまうことで町全体が活気付いていない。<br>
    そんな町でもその地元の人にしかわからないニッチなスポット情報があったり、実際に住んでいる人だからこそわかる情報があれば、それを知りたいと思う人もいるのではないかと思います。
    私の街にもそんなスポットはあります。<br>
    もしそのような情報を発信したり得ることができれば、もっと町に人を呼び込むことができるのかもしれないと思い、<br>
    今回Loca!!yを作るに至りました。
  </p>
</div>
<div class="about-content">
  <h1 class="about-heading">Loca!!y開発者</h1>
  <%= image_tag 'profile.png', class: "developer-img" %>
  <h1 class="developer-name">Yuta Okuma<%= link_to "Bear27kuma", "https://github.com/Bear27kuma", class: "developer-link" %></h1>
</div>