<% provide(:title, "Babbitとは") %>
<div class="about-content">
  <h1 class="about-heading">Babbitとは</h1>
  <p class="about-text">
    Babbitは、人々の悪い習慣や止めたいことに対して、日々の努力やアクションを共有して克服するためのSNSです。<br/>
    人にはそれぞれやめたいと思っている習慣や行動があると思います。例えば、「朝が起きられない」や「どうしても甘いものを食べてしまう」
    など、習慣化してしまうとなかなか自分の意思だけではやめられないものもあるでしょう。<br>
    このSNSを通じて、あなたがやめたいことに対してどのようなアクションを起こしたかを共有することで、ユーザー同士のコミュニケーションを活発にし、
    コミュニティ全体でその習慣を克服してほしいという思いがあります。<br>
    実際にあなたが今悩んでいること、やめたい習慣は何ですか？ 今すぐ投稿してみましょう！！
  </p>
</div>
<div class="about-content">
  <h1 class="about-heading">Babbitを作ったきっかけ</h1>
  <p class="about-text">
    私がこれまでの人生で出会った失敗やコンプレックスをよく思い返してみると、何かしらの悪い習慣が結び付けられるのだと思いました。
    試験に落ちてしまったのは、勉強時間の確保を邪魔するゲームやSNSといった誘惑に負けてしまっていたり、太ってしまったのは甘いものをつい食べてしまっていたりと、
    悪い結果の原因はいつもその前の習慣や行動であり、根本的にこれらの原因を解決することができたらより良い結果を掴みやすくなると思いませんか？
    もし悪い習慣を断ち切り、良い習慣を身に着けることができれば人生を通じて幸せになる確率があがるのでは無いかという思いを持ち、今回Babbitを作るに至りました。
  </p>
</div>
<div class="about-content">
  <h1 class="about-heading">Babbit開発者</h1>
  <%= image_tag 'profile.png', class: "developer-img" %>
  <h1 class="developer-name">Yuta Okuma<%= link_to "Bear27kuma", "https://github.com/Bear27kuma", class: "developer-link", target: "_blank" %></h1>
</div>