<%= form_with(model: [post, comment]) do |f| %>
  <div class="comment-form">
    <%= f.text_area :content, placeholder: "コメントを入力する" %>
  </div>
  <div class="commnet-submit">
    <%= f.submit "コメントする", class: "btn, btn-primary" %>
  </div>
<% end %>