<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      申し訳ありません。 入力内容に<%= @user.errors.count %>つの誤りがあるようです。<br>
      下記の項目をご確認ください。
    </div>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>